body {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem;
}

a {
  margin: 1rem;
}


/* Hover Rotate*/
.hover-rotate {
  text-decoration: none;
  color: #272727;
  font-family: sans-serif;
  font-size: 20px;
  border: 1px solid #272727;
  padding: 20px 40px;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: yellowgreen;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    transition: transform 1s;
  }

  &:hover::before {
    transform: rotate(0);
  }
}


/* Hover Slide */
.hover-slide {
  text-decoration: none;
  color: #351435;
  font-family: sans-serif;
  font-size: 20px;
  border: 1px solid #351435;
  padding: 20px 40px;
  position: relative;
  overflow: hidden;
  transition: all 1s;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #351435;
    z-index: -1;
    transform: translate(-100%);
    transition: all 1s;
  }

  &:hover::before {
    transform: translate(0);
  }

  &:hover {
    color: white;
  }
}


/* Hover Cross */
.hover-cross {
  text-decoration: none;
  color: #262626;
  font-family: sans-serif;
  font-size: 20px;
  border: 1px solid #262626;
  padding: 20px 40px;
  position: relative;
  overflow: hidden;
  transition: all 1s;
  letter-spacing: 2px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #262626;
    transition: all 1s;
    z-index: -1;
    transform: rotateX(90deg);
  }

  &:hover::before {
    transform: rotateX(0);
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #262626;
    transition: all 1s;
    z-index: -1;
    transform: rotateY(90deg);
  }

  &:hover::after {
    transform: rotateY(0);
  }

  &:hover {
    color: white;
  }
}


/* Hover bold */
.hover-bold {
  text-decoration: none;
  padding: 20px 40px;
  color: #e1332d;
  border: 1px solid #e1332d;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  transition: all .5s;
  font-family: 'nunito';

  &:hover {
    font-weight: 900;
    letter-spacing: 10px;
    border: 7px solid #e1332d;
  }
}


/* Hover Slide with Text */
.hover-slide-with-text {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  border: 1px solid white;
  padding: 20px 40px;
  position: relative;
  overflow: hidden;
  transition: all .5s;
  background-color: #262626;


  &::before {
    content: "YEAH";
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: orange;
    transform: translateY(-100%);
    transition: all 1s;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover::before {
    transform: translateY(0);
  }

  &:hover {
    color: white;
  }
}


/* Hover Reflex */
.hover-reflex {
  text-decoration: none;
  color: #222;
  font-family: sans-serif;
  font-size: 20px;
  border: 1px solid #222;
  padding: 20px 40px;
  transition: all .5s;
  position: relative;
  overflow: hidden;


  &:hover {
    background-color: red;
  }

  &::before {
    content: "";
    background-color: #ffffff50;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    position: absolute;
    transform: translateX(-150%) rotate(45deg);
    transition: all 1s;
  }

  &:hover::before {
    transform: translate(100%) rotate(45deg);
  }
}


/* Hover Warp */
.hover-warp {
  text-decoration: none;
  background-color: #262626;
  font-family: sans-serif;
  font-size: 20px;
  border: 1px solid #262626;
  padding: 20px 40px;
  position: relative;
  overflow: hidden;
  color: transparent;

  &::before {
    content: 'Hover Me';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fffa65;
    color: #262626;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .5s;
  }

  &::after {
    content: 'Eiei';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fffa65;
    color: #262626;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .5s;
    transform: translate(-100%, 100%);
  }

  &:hover::before {
    transform: translate(100%, -100%);
  }

  &:hover::after {
    transform: translate(0, 0);
  }
}


/* Hover Zoom */
.hover-zoom {
  text-decoration: none;
  color: #262626;
  font-family: sans-serif;
  font-size: 20px;
  border: 1px solid #262626;
  padding: 20px 40px;
  transition: all .5s;
  position: relative;
  overflow: hidden;

  &::before {
    content: 'Hover me';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #262626;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(5);
    opacity: 0;
    transition: all .5s;
  }

  &:hover::before {
    opacity: 1;
    transform: scale(1);
  }
}