/* Spinner 1 */
.spinner1 {
  margin: 100px;
  position: relative;
}

.react {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}

.react1 {
  background-color: yellow;
  animation: turn 2s ease-in-out 0s infinite;
}

.react2 {
  background-color: greenyellow;
  animation: turn 3s ease-in-out 0s infinite;
}

@keyframes turn {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(1turn);
  }
}



/* Spinner 2 */
.spinner2 {
  margin-left: 400px;
}

.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: yellow;
  display: inline-block;
}

.circle1 {
  animation: ball 2s linear 0s infinite,
    color 2s linear 0 infinite;
}

.circle2 {
  animation: color 2s linear 0.4s infinite;
}

.circle3 {
  animation: color 2s linear 0.8s infinite;
}

.circle4 {
  animation: ball2 2s linear 1s infinite,
    color 2s linear 1.2s infinite;
}

@keyframes ball {
  0% {
    transform: translate(-80px, -40px);
  }

  20%,
  80% {
    transform: translate(0);
  }

  100% {
    transform: translate(-80px, -40px);
  }
}

@keyframes ball2 {
  0% {
    transform: translate(80px, -40px);
  }

  20%,
  80% {
    transform: translate(0);
  }

  100% {
    transform: translate(80px, -40px);
  }
}

@keyframes color {
  0% {
    background-color: greenyellow;
  }

  20%,
  80% {
    background-color: yellow;
  }

  100% {
    background-color: greenyellow;
  }
}



/* Spinner 3*/
.spinner3 {
  margin-top: 200px;
  margin-left: 100px;
  position: relative;
}

.inner {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 4px solid transparent;
  border-top-color: yellow;
  border-bottom-color: yellow;
  position: absolute;
  top: 0;
  left: 0;
  animation: turn 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
}

.outer {
  border-radius: 50%;
  width: 170px;
  height: 170px;
  border: 4px solid transparent;
  border-top-color: greenyellow;
  border-bottom-color: greenyellow;
  position: absolute;
  top: -10px;
  left: -10px;
  animation: turn 3.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}



/* Spinner 4 */
.spinner4 {
  margin-top: 200px;
  margin-left: 400px;
}

.box {
  width: 150px;
  height: 150px;
  background-color: yellow;
  position: relative;
}

.box::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  top: 40%;
  background: greenyellow;
  animation: ballinbox 2s linear 0s infinite;
}

.box::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  opacity: 0.4;
  top: 40%;
  background: greenyellow;
  animation: ballinbox 2s linear .05s infinite;
}

@keyframes ballinbox {
  0% {
    transform: translate(0);
  }

  25% {
    transform: translate(62.5px, 62.5px);
  }

  50% {
    transform: translate(125px);
  }

  75% {
    transform: translate(62.5px, -62.5px);
  }
}


/* Spinner 5 */
.spinner5 {
  margin-top: 125px;
  margin-left: 100px;
}

.circle-eiei {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: yellow;
  position: relative;
  animation: size 2s cubic-bezier(0.215, 0.610, 0.355, 1) 0s infinite;
}

.circle-eiei::after {
  content: '';
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 8px solid yellow;
  border-top-color: greenyellow;
  border-left-color: greenyellow;
  border-left-width: 4px;
  position: absolute;
  top: -8px;
  left: -8px;
  animation: turn 2s infinite;
}

@keyframes size {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}