%vh-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%tl-0 {
  position: absolute;
  top: 0;
  left: 0;
}

%hw-100 {
  height: 100%;
  width: 100%;
}

%tlhw {
  @extend %tl-0;
  @extend %hw-100;
}

body {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem;
}

a {
  margin: 1rem;
}

.btn {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 20px;
  padding: 20px 40px;
  position: relative;
  overflow: hidden;
}

/* Hover Rotate*/
.hover-rotate {
  color: #272727;
  border: 1px solid #272727;

  &::before {
    @extend %tlhw;
    content: '';
    background-color: yellowgreen;
    z-index: -1;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    transition: transform 1s;
  }

  &:hover::before {
    transform: rotate(0);
  }
}


/* Hover Slide */
.hover-slide {
  color: #351435;
  border: 1px solid #351435;
  transition: all 1s;

  &::before {
    @extend %tlhw;
    content: "";
    background-color: #351435;
    z-index: -1;
    transform: translate(-100%);
    transition: all 1s;
  }

  &:hover::before {
    transform: translate(0);
  }

  &:hover {
    color: white;
  }
}


/* Hover Cross */
.hover-cross {
  color: #262626;
  border: 1px solid #262626;
  transition: all 1s;
  letter-spacing: 2px;

  &::before,
  &::after {
    @extend %tlhw;
    content: "";
    background-color: #262626;
    transition: all 1s;
    z-index: -1;
  }

  &::before {
    transform: rotateX(90deg);
  }

  &:hover::before {
    transform: rotateX(0);
  }

  &::after {
    transform: rotateY(90deg);
  }

  &:hover::after {
    transform: rotateY(0);
  }

  &:hover {
    color: white;
  }
}


/* Hover bold */
.hover-bold {
  color: #e1332d;
  border: 1px solid #e1332d;
  text-transform: uppercase;
  font-weight: 300;
  transition: all .5s;
  font-family: 'nunito';

  &:hover {
    font-weight: 900;
    letter-spacing: 10px;
    border: 7px solid #e1332d;
  }
}


/* Hover Slide with Text */
.hover-slide-with-text {
  color: white;
  border: 1px solid white;
  transition: all .5s;
  background-color: #262626;


  &::before {
    content: "YEAH";
    @extend %tlhw;
    @extend %vh-center;
    color: white;
    background-color: orange;
    transform: translateY(-100%);
    transition: all 1s;
  }

  &:hover::before {
    transform: translateY(0);
  }

  &:hover {
    color: white;
  }
}


/* Hover Reflex */
.hover-reflex {
  color: #222;
  border: 1px solid #222;
  transition: all .5s;

  &:hover {
    background-color: red;
  }

  &::before {
    @extend %tl-0;
    content: "";
    background-color: #ffffff50;
    width: 100%;
    height: 50px;
    transform: translateX(-150%) rotate(45deg);
    transition: all 1s;
  }

  &:hover::before {
    transform: translate(100%) rotate(45deg);
  }
}


/* Hover Warp */
.hover-warp {
  background-color: #262626;
  border: 1px solid #262626;
  color: transparent;

  &::before,
  &::after {
    @extend %tlhw;
    @extend %vh-center;
    background-color: #fffa65;
    color: #262626;

    transition: all .5s;
  }

  &::before {
    content: 'Hover Me';
  }

  &::after {
    content: 'Eiei';
    transform: translate(-100%, 100%);
  }

  &:hover::before {
    transform: translate(100%, -100%);
  }

  &:hover::after {
    transform: translate(0, 0);
  }
}


/* Hover Zoom */
.hover-zoom {
  color: #262626;
  border: 1px solid #262626;
  transition: all .5s;

  &::before {
    @extend %tlhw;
    @extend %vh-center;
    content: 'Hover me';
    background-color: #262626;
    color: white;

    transform: scale(5);
    opacity: 0;
    transition: all .5s;
  }

  &:hover::before {
    opacity: 1;
    transform: scale(1);
  }
}


/* Hover Up-Down line */
.hover-updown-line {
  color: blueviolet;
  transition: all .5s;

  &::before,
  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    transition: all .5s;
    background-color: blueviolet;
  }

  &::before {
    top: 0;
    left: 0;
    transform: translateX(-100%);
  }

  &::after {
    bottom: 0;
    right: 0;
    transform: translateX(100%);
  }

  &:hover::before,
  &:hover::after {
    transform: translateX(0)
  }
}


/* Hover Slide up */
.hover-slide-up {
  position: relative;
  transition: .5s ease-out;
  color: blueviolet;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0%;
    background-color: blueviolet;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: .5s ease-in-out;
  }

  &:hover {
    color: #fff;
  }

  &:hover::after {
    height: 100%;
  }
}