%vh-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%tl-0 {
  position: absolute;
  top: 0;
  left: 0;
}

%br-0 {
  position: absolute;
  bottom: 0;
  right: 0;
}

%hw-100 {
  height: 100%;
  width: 100%;
}

%hw-0 {
  height: 0;
  width: 0;
}

%tlhw {
  @extend %tl-0;
  @extend %hw-100;
}

body {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem;
}

a {
  margin: 1rem;
}

.btn {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 20px;
  padding: 20px 40px;
  position: relative;
  overflow: hidden;
}

/* Hover Rotate*/
.hover-rotate {
  color: #272727;
  border: 1px solid #272727;

  &::before {
    @extend %tlhw;
    content: '';
    background-color: yellowgreen;
    z-index: -1;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    transition: transform 1s;
  }

  &:hover::before {
    transform: rotate(0);
  }
}


/* Hover Slide */
.hover-slide {
  color: #351435;
  border: 1px solid #351435;
  transition: all 1s;

  &::before {
    @extend %tlhw;
    content: "";
    background-color: #351435;
    z-index: -1;
    transform: translate(-100%);
    transition: all 1s;
  }

  &:hover::before {
    transform: translate(0);
  }

  &:hover {
    color: white;
  }
}


/* Hover Cross */
.hover-cross {
  color: #262626;
  border: 1px solid #262626;
  transition: all 1s;
  letter-spacing: 2px;

  &::before,
  &::after {
    @extend %tlhw;
    content: "";
    background-color: #262626;
    transition: all 1s;
    z-index: -1;
  }

  &::before {
    transform: rotateX(90deg);
  }

  &:hover::before {
    transform: rotateX(0);
  }

  &::after {
    transform: rotateY(90deg);
  }

  &:hover::after {
    transform: rotateY(0);
  }

  &:hover {
    color: white;
  }
}


/* Hover bold */
.hover-bold {
  color: #e1332d;
  border: 1px solid #e1332d;
  text-transform: uppercase;
  font-weight: 300;
  transition: all .5s;
  font-family: 'nunito';

  &:hover {
    font-weight: 900;
    letter-spacing: 10px;
    border: 7px solid #e1332d;
  }
}


/* Hover Slide with Text */
.hover-slide-with-text {
  color: white;
  border: 1px solid white;
  transition: all .5s;
  background-color: #262626;


  &::before {
    content: "YEAH";
    @extend %tlhw;
    @extend %vh-center;
    color: white;
    background-color: orange;
    transform: translateY(-100%);
    transition: all 1s;
  }

  &:hover::before {
    transform: translateY(0);
  }

  &:hover {
    color: white;
  }
}


/* Hover Reflex */
.hover-reflex {
  color: #222;
  border: 1px solid #222;
  transition: all .5s;

  &:hover {
    background-color: red;
  }

  &::before {
    @extend %tl-0;
    content: "";
    background-color: #ffffff50;
    width: 200%;
    height: 50px;
    transform: translateX(-150%) rotate(45deg);
    transition: all 1s;
  }

  &:hover::before {
    transform: translate(100%) rotate(45deg);
  }
}


/* Hover Warp */
.hover-warp {
  background-color: #262626;
  border: 1px solid #262626;
  color: transparent;

  &::before,
  &::after {
    @extend %tlhw;
    @extend %vh-center;
    background-color: #fffa65;
    color: #262626;

    transition: all .5s;
  }

  &::before {
    content: 'Hover Me';
  }

  &::after {
    content: 'Eiei';
    transform: translate(-100%, 100%);
  }

  &:hover::before {
    transform: translate(100%, -100%);
  }

  &:hover::after {
    transform: translate(0, 0);
  }
}


/* Hover Zoom */
.hover-zoom {
  color: #262626;
  border: 1px solid #262626;
  transition: all .5s;

  &::before {
    @extend %tlhw;
    @extend %vh-center;
    content: 'Hover me';
    background-color: #262626;
    color: white;

    transform: scale(5);
    opacity: 0;
    transition: all .5s;
  }

  &:hover::before {
    opacity: 1;
    transform: scale(1);
  }
}


/* Hover Up-Down line */
.hover-updown-line {
  color: blueviolet;
  transition: all .5s;

  &::before,
  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    transition: all .5s;
    background-color: blueviolet;
  }

  &::before {
    @extend %tl-0;
    transform: translateX(-100%);
  }

  &::after {
    @extend %br-0;
    transform: translateX(100%);
  }

  &:hover::before,
  &:hover::after {
    transform: translateX(0)
  }
}


/* Hover Slide up */
.hover-slide-up {
  transition: .5s ease-out;
  color: blueviolet;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0%;
    background-color: blueviolet;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: .5s ease-in-out;
  }

  &:hover {
    color: #fff;
  }

  &:hover::after {
    height: 100%;
  }
}


/* Hover Square */
.hover-square {
  transition: .5s ease-out;

  &:hover {
    color: white;
  }

  &::before,
  &::after {
    content: "";
    @extend %hw-0;
    background-color: blueviolet;
    transition: .5s ease-out;
    z-index: -1;
  }

  &::before {
    @extend %tl-0;
  }

  &::after {
    @extend %br-0;
  }

  &:hover::before,
  &:hover::after {
    @extend %hw-100;
  }
}


/* Hover Span */
.hover-span {

  &::before,
  &::after {
    content: "";
    background-color: blueviolet;
    position: absolute;
    width: 0;
    height: 2px;
    transition-duration: .3s;
  }

  &::after {
    @extend %tl-0;
  }

  &::before {
    @extend %br-0;
  }

  &:hover::before {
    width: 100%;
    transition-delay: .9s;
  }

  &:hover::after {
    width: 100%;
    transition-delay: .3s;
  }

  &:hover>.hover-span-in::before {
    height: 100%;
  }

  &:hover>.hover-span-in::after {
    height: 100%;
    transition-delay: .6s;
  }

}


/* Hover Span In */
.hover-span-in {

  &::before,
  &::after {
    content: "";
    background-color: blueviolet;
    position: absolute;
    width: 2px;
    height: 0;
    transition-duration: .3s;
  }

  &::before {
    bottom: 0;
    left: 0;
  }

  &::after {
    top: 0;
    right: 0;
  }
}


/* Hover Shake */
.hover-shake {
  border: 3px solid black;

  &:hover {
    color: #f44336;
    border: 3px solid #f44336;
    animation: shake 0.3s linear 1;
  }
}

@keyframes shake {
  33% {
    transform: rotate(10deg);
  }

  66% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(10deg);
  }
}



/* Hover Wave */
.hover-wave {
  border: 3px solid black;

  &::before {
    content: '';
    background-color: #f44336;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    position: absolute;
    z-index: -1;
    transform: skew(-15deg);
    animation: moving 1.2s linear infinite;
  }

  &:hover::before {
    width: 100%;
    transform: skew(0);
    animation: none;
  }
}

@keyframes moving {
  from {
    left: -120px;
  }

  to {
    left: 100%;
  }
}


/* Hover Conner */
.hover-conner {
  overflow: visible;

  &:before,
  &:after {
    content: '';
    height: 20px;
    width: 20px;
    border: 2px solid blueviolet;
    position: absolute;
    transition: all .3s;
  }

  &:before {
    top: 0px;
    right: 0px;
    border-color: blueviolet blueviolet transparent transparent;
  }

  &:after {
    bottom: 0px;
    left: 0px;
    border-color: transparent transparent blueviolet blueviolet;
  }

  &:hover::before,
  &:hover::after {
    height: 100%;
    width: 100%;
  }
}


/* Hover Grow */
.hover-grow {
  border: 1px solid blueviolet;
  transition: box-shadow .4s;
  overflow: visible;

  &:hover {
    box-shadow: inset 0px 0px 15px blueviolet;
  }

  &:before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    border: 1px solid blueviolet;
    top: 0px;
    left: 0px;
    transition: all .3s;
  }

  &:hover::before {
    transform: scale(1.2);
    border-color: transparent;
  }
}