.hover-slide-with-text::before, .hover-warp::before, .hover-warp::after, .hover-zoom::before {
  display: flex;
  justify-content: center;
  align-items: center; }

.hover-rotate::before, .hover-slide::before, .hover-cross::before, .hover-cross::after, .hover-slide-with-text::before, .hover-warp::before, .hover-warp::after, .hover-zoom::before, .hover-reflex::before, .hover-updown-line::before, .hover-square::before, .hover-span::after {
  position: absolute;
  top: 0;
  left: 0; }

.hover-updown-line::after, .hover-square::after, .hover-span::before {
  position: absolute;
  bottom: 0;
  right: 0; }

.hover-rotate::before, .hover-slide::before, .hover-cross::before, .hover-cross::after, .hover-slide-with-text::before, .hover-warp::before, .hover-warp::after, .hover-zoom::before, .hover-square:hover::before, .hover-square:hover::after {
  height: 100%;
  width: 100%; }

.hover-square::before, .hover-square::after {
  height: 0;
  width: 0; }

body {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem; }

a {
  margin: 1rem; }

.btn {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 20px;
  padding: 20px 40px;
  position: relative;
  overflow: hidden; }

/* Hover Rotate*/
.hover-rotate {
  color: #272727;
  border: 1px solid #272727; }
  .hover-rotate::before {
    content: '';
    background-color: yellowgreen;
    z-index: -1;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    transition: transform 1s; }
  .hover-rotate:hover::before {
    transform: rotate(0); }

/* Hover Slide */
.hover-slide {
  color: #351435;
  border: 1px solid #351435;
  transition: all 1s; }
  .hover-slide::before {
    content: "";
    background-color: #351435;
    z-index: -1;
    transform: translate(-100%);
    transition: all 1s; }
  .hover-slide:hover::before {
    transform: translate(0); }
  .hover-slide:hover {
    color: white; }

/* Hover Cross */
.hover-cross {
  color: #262626;
  border: 1px solid #262626;
  transition: all 1s;
  letter-spacing: 2px; }
  .hover-cross::before, .hover-cross::after {
    content: "";
    background-color: #262626;
    transition: all 1s;
    z-index: -1; }
  .hover-cross::before {
    transform: rotateX(90deg); }
  .hover-cross:hover::before {
    transform: rotateX(0); }
  .hover-cross::after {
    transform: rotateY(90deg); }
  .hover-cross:hover::after {
    transform: rotateY(0); }
  .hover-cross:hover {
    color: white; }

/* Hover bold */
.hover-bold {
  color: #e1332d;
  border: 1px solid #e1332d;
  text-transform: uppercase;
  font-weight: 300;
  transition: all .5s;
  font-family: 'nunito'; }
  .hover-bold:hover {
    font-weight: 900;
    letter-spacing: 10px;
    border: 7px solid #e1332d; }

/* Hover Slide with Text */
.hover-slide-with-text {
  color: white;
  border: 1px solid white;
  transition: all .5s;
  background-color: #262626; }
  .hover-slide-with-text::before {
    content: "YEAH";
    color: white;
    background-color: orange;
    transform: translateY(-100%);
    transition: all 1s; }
  .hover-slide-with-text:hover::before {
    transform: translateY(0); }
  .hover-slide-with-text:hover {
    color: white; }

/* Hover Reflex */
.hover-reflex {
  color: #222;
  border: 1px solid #222;
  transition: all .5s; }
  .hover-reflex:hover {
    background-color: red; }
  .hover-reflex::before {
    content: "";
    background-color: #ffffff50;
    width: 200%;
    height: 50px;
    transform: translateX(-150%) rotate(45deg);
    transition: all 1s; }
  .hover-reflex:hover::before {
    transform: translate(100%) rotate(45deg); }

/* Hover Warp */
.hover-warp {
  background-color: #262626;
  border: 1px solid #262626;
  color: transparent; }
  .hover-warp::before, .hover-warp::after {
    background-color: #fffa65;
    color: #262626;
    transition: all .5s; }
  .hover-warp::before {
    content: 'Hover Me'; }
  .hover-warp::after {
    content: 'Eiei';
    transform: translate(-100%, 100%); }
  .hover-warp:hover::before {
    transform: translate(100%, -100%); }
  .hover-warp:hover::after {
    transform: translate(0, 0); }

/* Hover Zoom */
.hover-zoom {
  color: #262626;
  border: 1px solid #262626;
  transition: all .5s; }
  .hover-zoom::before {
    content: 'Hover me';
    background-color: #262626;
    color: white;
    transform: scale(5);
    opacity: 0;
    transition: all .5s; }
  .hover-zoom:hover::before {
    opacity: 1;
    transform: scale(1); }

/* Hover Up-Down line */
.hover-updown-line {
  color: blueviolet;
  transition: all .5s; }
  .hover-updown-line::before, .hover-updown-line::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    transition: all .5s;
    background-color: blueviolet; }
  .hover-updown-line::before {
    transform: translateX(-100%); }
  .hover-updown-line::after {
    transform: translateX(100%); }
  .hover-updown-line:hover::before, .hover-updown-line:hover::after {
    transform: translateX(0); }

/* Hover Slide up */
.hover-slide-up {
  transition: .5s ease-out;
  color: blueviolet; }
  .hover-slide-up::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0%;
    background-color: blueviolet;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: .5s ease-in-out; }
  .hover-slide-up:hover {
    color: #fff; }
  .hover-slide-up:hover::after {
    height: 100%; }

/* Hover Square */
.hover-square {
  transition: .5s ease-out; }
  .hover-square:hover {
    color: white; }
  .hover-square::before, .hover-square::after {
    content: "";
    background-color: blueviolet;
    transition: .5s ease-out;
    z-index: -1; }

/* Hover Span */
.hover-span::before, .hover-span::after {
  content: "";
  background-color: blueviolet;
  position: absolute;
  width: 0;
  height: 2px;
  transition-duration: .3s; }

.hover-span:hover::before {
  width: 100%;
  transition-delay: .9s; }

.hover-span:hover::after {
  width: 100%;
  transition-delay: .3s; }

.hover-span:hover > .hover-span-in::before {
  height: 100%; }

.hover-span:hover > .hover-span-in::after {
  height: 100%;
  transition-delay: .6s; }

/* Hover Span In */
.hover-span-in::before, .hover-span-in::after {
  content: "";
  background-color: blueviolet;
  position: absolute;
  width: 2px;
  height: 0;
  transition-duration: .3s; }

.hover-span-in::before {
  bottom: 0;
  left: 0; }

.hover-span-in::after {
  top: 0;
  right: 0; }

/* Hover Shake */
.hover-shake {
  border: 3px solid black; }
  .hover-shake:hover {
    color: #f44336;
    border: 3px solid #f44336;
    animation: shake 0.3s linear 1; }

@keyframes shake {
  33% {
    transform: rotate(10deg); }
  66% {
    transform: rotate(-10deg); }
  100% {
    transform: rotate(10deg); } }

/* Hover Wave */
.hover-wave {
  border: 3px solid black; }
  .hover-wave::before {
    content: '';
    background-color: #f44336;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    position: absolute;
    z-index: -1;
    transform: skew(-15deg);
    animation: moving 1.2s linear infinite; }
  .hover-wave:hover::before {
    width: 100%;
    transform: skew(0);
    animation: none; }

@keyframes moving {
  from {
    left: -120px; }
  to {
    left: 100%; } }

/* Hover Conner */
.hover-conner {
  overflow: visible; }
  .hover-conner:before, .hover-conner:after {
    content: '';
    height: 20px;
    width: 20px;
    border: 2px solid blueviolet;
    position: absolute;
    transition: all .3s; }
  .hover-conner:before {
    top: 0px;
    right: 0px;
    border-color: blueviolet blueviolet transparent transparent; }
  .hover-conner:after {
    bottom: 0px;
    left: 0px;
    border-color: transparent transparent blueviolet blueviolet; }
  .hover-conner:hover::before, .hover-conner:hover::after {
    height: 100%;
    width: 100%; }

/* Hover Grow */
.hover-grow {
  border: 1px solid blueviolet;
  transition: box-shadow .4s;
  overflow: visible; }
  .hover-grow:hover {
    box-shadow: inset 0px 0px 15px blueviolet; }
  .hover-grow:before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    border: 1px solid blueviolet;
    top: 0px;
    left: 0px;
    transition: all .3s; }
  .hover-grow:hover::before {
    transform: scale(1.2);
    border-color: transparent; }
